<h1>Welcome to NodeJS server!</h1>
<p>Welcome to server {{#if name}}<span>{{name}}</span>{{/if}}</p>
<ul>
    {{#each products}}
        <li>{{id}} {{title}} {{price}}</li>
    {{/each}}
</ul>
<img src="/images/painter.jpg">